.cart__nav {
    padding: 30px 0 14px 0;
}
.cart__nav--link {
    line-height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #555;
    text-decoration: none;
}
.cart__nav--link.present {
    color: #243a76;
}
.cart__nav--icon {
    font-size: 1.2rem;
    color: #555;
    margin: 0 8px;
}
.cart__title {
    font-size: 2.2rem;
    line-height: 4rem;
    font-weight: 700;
    color: #000;
}
.cart__ptl {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
    margin-top: 4px;
    margin-left: 4px;
}
.cart__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0 75px 0;
    background-color: #fff;
    border-radius: 5px;
}
.cart__null-text {
    font-size: 1.4rem;
    margin: 18px 0 20px 0;
}
.cart__null-btn {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    background: #f78d1c;
    border-radius: 5px;
    display: block;
    padding: 12px 36px;
}

.cart__product--header {
    display: flex;
    align-items: center;    
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
}
.cart__product--amount {
    display: flex;
    align-items: center;
}
.cart__product--price,
.cart__product--quantity,
.cart__product--total-price {
    font-size: 1.4rem;
    color: #000;
    line-height: 19px;
}
.cart__product--delete-icon {
    font-size: 1.4rem;
    color: rgb(143, 142, 142);
    padding-left: 12px;
}
.cart__product--check {
    display: block;
    border: 1px solid #c4c4cf;
    border-radius: 2px;
    color: #c4c4cf;
    cursor: pointer;
  
}
.cart__product--lb {
    font-size: 1.4rem;
    color: #000;
    line-height: 1.9rem;
    margin-left: 12px;
    display: flex;
    align-items: center;
}
.cart__product--lb img {
    width: 87px;
    height: 87px;
}
.cart__product--info {
}
.cart__product--name {
    font-size: 1.4rem;
    color: #000;
    display: block;
    text-decoration: none;
  
}
.cart__product--sku {
    font-size: 1.2rem;
    color: #000;
    display: block;
    margin: 12px 0;
}
.cart__product--sku span {
    color: #222;
    font-weight: 600;
}
.cart__product-offer {
    display: flex;
    align-items: center;
}
.cart__product-offer-item {
    padding: 5px 2px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
}
.cart__product-offer-item.sale {
    margin-right: 2px;
}
.cart__product-offer-item-icon {
    font-size: 1.4rem;
}
.cart__product--delete {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.cart__product--delete:hover
.cart__product--delete-sub {
    display: block;
}
.cart__product--delete-sub {
    display: none;
    background: #222;
    color: #fff;
    padding: 8px 12px !important;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 22px;
    left: -104px;
    animation: cartDelete ease .5s;
}
.cart__product--delete-sub:before {
    content: "";
    position: absolute;
    top: -16px;
    right: 16px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #222;
    
}
.cart__product--list {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.cart__product--list-wrap {
    width: 100%;
}
.cart__product--item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.cart__product--item.vat {
    justify-content: center;
}
.cart__price--new {
    font-size: 1.6rem;
    color: #000;
    margin-right: 5px;
    font-weight: 700;
    margin-left: 6px;
}
.cart__price--old {
    font-size: 1.2rem;
    color: #888;
    text-decoration: line-through;
}
.cart__product--quantity-wrap {
    display: flex;
}
.cart__product--quantity-btn {
    width: 32px;
    height: 32px;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 4px 4px;
    border: none;
    color: rgba(0, 0, 0, .5);
    background-color: #fff;
    cursor: pointer;
}
.cart__product--quantity-btn.index {
    text-align: center;
    color: rgba(0, 0, 0, .9);
    border: none;
    outline: none;
    cursor: default;
    border: 1px solid #dfdfdf;
}
.cart__product--quantity-btn.reduce {
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.cart__product--quantity-btn.add {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.total-item-price,
.total-cart-payment {
    font-size: 1.6rem;
    color: #ee2724;
    font-weight: 700;
}
.cart__coder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dadada;
    border-radius: 3px 0 0 3px;
}
.cart__coder--input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart__code--btn {
    min-width: 75px;
    padding: 8px 0;
    color: #fff;
    background-color: rgb(36, 58, 118);
    border: none;
    cursor: pointer;
}
.total-cart-price {
    font-size: 1.6rem;
    color: #000;
    font-weight: 700;
}
.cart__method,
.cart-vat {
    font-size: 1.4rem;
    color: #222;
}
.price-discount {
    font-size: 1.4rem;
    font-weight: 400;
    color: #222;
}
.cart__btn {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 4.2rem;
    border: none;
    color: #fff;
    background-color: rgb(36, 58, 118);
    border-radius: 3px;
    cursor: pointer;
}